<!DOCTYPE html>
<html>
	<head>
 <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/style.css">


		  <script type="text/javascript" src="/bootstrap/js/jquery-1.10.1.js"></script>
		  <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
		  <script type="text/javascript" src="/bootstrap/js/script.js"></script>
	</head>
	<title> Sinatra Project</title>
	<div id="wrapper" class="row-fluid">
		<body>
			<div id="content" class="span8 offset2">
				
					
					
					<a href="/"><button class="row-fluid btn btn-primary">Return to home</button>
					</form></a>
			
				<h1 class="span11 offset1">This is my first project using Sinatra and gems.</h1>
				<%= yield %>
				<div class="clear"></div>
				<footer class="span7 offset3"> Made with love by Gabe during WDI Summer 2013<br>
												with Twitter Bootstrap</footer>
			</div>
		</body>
	</div>
</html>