<!DOCTYPE html>
<html>
	<head>
	<link rel="stylesheet" type="text/css" href="/style.css">
	</head>
	<title> Sinatra Project</title>
	<div id="wrapper">
		<body>
			<div id="content">
				<div id="topnav"> 
					
				<div>
				<h1>This is my first project using Sinatra and gems.</h1>
				<%= yield %>
				<footer> Made with love by Gabe during WDI Summer 2013</footer>
			</div>
		</body>
	</div>
</html>